.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cards > ul > li {
  background-color: var(--background-color)
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards-wrapper {
    margin-bottom: 75px;
    max-width: 1440px;
}

.cards-wrapper > div.cards {
  margin-bottom: 75px;
}

.cards-container {
  background-color: var(--highlight-background-color);
  margin: 0 auto;
  float: none;
}

.cards.padded {
  padding-top: 75px;
  padding-bottom: 75px;
}

.default-content-wrapper {
    margin: 0 auto;
    float: none;
    max-width: 1440px;
    text-align: center;
}

.default-content-wrapper >h1 {
    font-size: var(--heading-font-size-l);
    color: #000;
}

.default-content-wrapper >h2 {
    color: #000;
}

.default-content-wrapper >p {
    margin: 0 auto;
}

.default-content-wrapper >p:last-child {
    margin-bottom: 75px;
}
